<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.young.leshengbao">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.YoungApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".options.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".options.login.LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity android:name=".options.login.RegisterActivity"
            android:label="@string/title_activity_register"/>
        <activity android:name=".options.ShopDetailActivity" />
        <activity android:name=".options.userinfo.UserInfoActivity" />
        <activity android:name=".options.userinfo.MyMsgActivity"
            android:label="@string/title_activity_my_msg"/>
        <activity android:name=".options.money.TransferMoneyActivity"
            android:label="@string/title_activity_transfer_money"/>
        <activity
            android:name=".options.money.InputSafeNumActivity"
            android:theme="@style/transfer_money_input_safe_num_style" />
        <activity
            android:name=".options.userinfo.UserRecordActivity"
            android:label="@string/title_activity_user_record" />
        <activity android:name=".options.setting.SafeSettingActivity"
            android:label="@string/title_activity_safe_setting" ></activity>
        <activity android:name=".options.about.AboutActivity"
            android:label="@string/title_activity_about"></activity>
    </application>

</manifest>
